<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">


    </head>
    <body>
        <header th:replace="plantilla/template::header">
        </header>
        <h2>Datos de Persona</h2>
        <a href="@{/}">Regresar</a>
        <br> 
        <form th:action="@{/guardarPersona}"
              
              method="post"
              th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{id}"/>
            <label for="nombre">Nombre:</label>
            <input type="text"th:field="*{cliente.nombre}"/>
            <br>
            <label for="apellido 1">Apellido 1:</label>
            <input type="text"th:field="*{apellido1}"/>
            <br>
            <label for="apellido 2">Apellido 2:</label>
            <input type="text"th:field="*{apellido2}"/>
            <br>
            <label for="correo">Correo:</label>
            <input type="text"th:field="*{email}"/>
            <br>
            <label for="telefono">Telefono</label>
            <input type="text"th:field="*{telefono}"/>
            <br>
            <label for="pais">Pais:</label>
            <select th:field="*{pais}">
                <option th:each="p:${paises}"
                        th:value="${p.id}"
                        th:text="${p.pais}"/>
            </select>
            <br>
            <button type="submit"class="btn btn-primary"value="Guardar">Guardar <button/>
        </form>
        <form th:action="@{/verPersonas}"

              th:object="${persona}">
            <button type="submit"class="btn btn-primary"value="persona">Ver Personas<button/>

        </form>
        <footer th:replace="plantilla/template::footer"><footer/>

    </body>
</html>
